* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.contenedor {
  width: 98%;
  margin: auto;
}

header {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .contenedor {
  display: table;
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

header #menu-bar {
  display: none;
}

header #menu-bar:checked ~ .menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

header .menu a {
  display: block;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header .menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

section .titulo-1 {
  margin-top: 50px;
  width: 100%;
  height: 50px;
}

section .titulo-1 .boton {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.jumbotron h3 {
  text-align: center;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.blog .texto {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .texto p {
  padding: 2rem;
  line-height: 2rem;
}

.blog .foto {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .foto img {
  width: 80%;
}

@media (max-width: 900px) {
  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog p {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
  }
  .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .reverse p {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
  }
}

.services {
  width: 100%;
  margin-bottom: 25px;
}

#banner {
  margin-top: 50px;
  position: relative;
}

#banner img {
  width: 100%;
  height: 100%;
}

#banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#banner h2 {
  font-size: 28px;
}

#banner a {
  display: block;
  width: 115px;
  color: black;
  text-decoration: none;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid black;
}

#banner a:hover {
  background-color: rgba(159, 122, 89, 0.5);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
}

.grid div {
  display: -ms-grid;
  display: grid;
  padding: 1em;
  overflow: hidden;
}

.grid div .grid-3 {
  padding-top: 25px;
}

.grid div img {
  width: 100%;
  height: auto;
}

.background-grid {
  background-color: #f9eee1;
}

.grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(400px, auto);
      grid-template-rows: minmax(400px, auto);
}

.grid-1 div {
  background-color: rgba(220, 204, 187, 0.5);
  padding: 1em;
}

.grid-1 p, .grid-1 h3 {
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

@media (max-width: 900px) {
  .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid div img {
    width: 300px;
    margin: auto;
  }
  .grid div h4 {
    display: none;
  }
  .grid-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid-1 p, .grid-1 h3 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}

.boton-insta {
  background-image: url(../multimedia/fondo-insta.jpg);
  border: none;
}

@media (min-width: 1100px) {
  #carouselExampleFade {
    margin: 5rem 15rem 5rem 15rem;
  }
}

#info {
  background-color: #333;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

#info .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-obra {
  margin: 20px;
}

.info-obra img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.info-obra h4 {
  margin: 10px;
}

.about {
  width: 100%;
  margin-bottom: 25px;
}

#banner-about {
  margin-top: 50px;
  position: relative;
}

#banner-about img {
  width: 100%;
  height: 100%;
}

#banner-about .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#banner-about h2 {
  font-size: 40px;
  font-weight: 800;
  color: white;
}

#banner-about a {
  display: block;
  width: 115px;
  color: white;
  text-decoration: none;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid white;
}

#banner-about a:hover {
  background-color: rgba(159, 122, 89, 0.5);
}

#banner-about .message-cafe {
  color: black;
  border: none;
  font-size: 20px;
  margin-left: 50px;
}

.grid-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(400px, auto);
      grid-template-rows: minmax(400px, auto);
}

.grid-about div {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.grid-about p, .grid-about h3 {
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.grid-about img {
  width: 70%;
}

@media (max-width: 900px) {
  .grid-about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid-about p, .grid-about h3 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  .grid-about img {
    width: 50%;
  }
}

#container-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#container-contacto .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-contacto .contacto span {
  font-size: 28px;
  height: 100px;
}

#container-contacto .contacto a {
  text-decoration: none;
  color: black;
}

@media (max-width: 670px) {
  #container-contacto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */