@import "colores.scss";

//estilos básicos para todo
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

//fuente gral
body {
    font-family: 'Lato', sans-serif;
}

.contenedor {
    width: 98%;
    margin: auto;
}

header {
    width: 100%;
    height: 50px;
    background-color: $gris;
    color: $blanco;
    position: fixed; //para que el menú se quede pegado
    top: 0; //para que empiece de la esquina superior izq.
    left: 0;
    // para que quede siempre delante z-index
    z-index: 100; 
    .contenedor {
        display: table;
    }
    label { //icono menu desplegable
    float: right; 
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer; //aparece la mano cuando paso por el icono
    }
    #menu-bar {
        display: none; //desaparece el icono del input
        &:checked ~ .menu { //cuando input esté con el check, va a seleccionar el menú
        transform: translateX(0%);
        }
    }
    .menu {
        position: absolute;
        top: 50px; //para que empiece desde la esquina, abajo del header
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $gris-transparencia;
        transition: all 0.5s;
        transform: translateX(-100%);
        a {
            display: block;
            color: $blanco;
            height: 50px; //la altura de cada a.
            text-decoration: none;
            padding: 15px;
            border-bottom: 1px solid $borde;
            &:hover {
                background-color: $background-hover;
            }
        }
    }
}


// section .titulo {
//     background-color: grey;
//     margin-top: 50px;
//     width: 100%;
//     height: 50px;
//     h1 {
//         margin-left: 6px;
//     }
//     button {
//         float: right;
//     }
// }

//main
section .titulo-1 {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    .boton {
    position: absolute;
    right: 0;
    // margin: 6px 0;
    margin-right: 20px;
    }
}
// jumbotron index
.jumbotron h3 {
    text-align: center;
}

// blog index

.blog {
    display: flex;
    margin-bottom: 30px;
    .texto {
        flex-basis: 50%;
        height: 400px;

        display: flex;
        justify-content: center;
        align-items: center;
        p {
            padding: 2rem;
            line-height: 2rem;
        }
    }
    .foto {
        flex-basis: 50%;
        height: 400px;

        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
        }
        
    }
}

//mediaquery blog
@media (max-width:900px){
    .blog{
        display: flex;
        flex-direction: column;
        p {
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 0;
        }
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
        p {
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 0;
        }
    }

}



